<p id="notice">
<%= notice %></p>

<h1>Editing Book</h1>
<%= render 'layouts/error_messages', model: @book %>
<%= form_with model:@book, url:"/books/#{@book.id}", local:true do |f| %>
<strong>title</strong></br>
 <%= f.text_field :title %></br>

<strong>body</strong></br>
 <%= f.text_area :body %></br>
 <%= f.submit 'Update Book' %>
<% end %>

<p>
 <%= link_to "Show", @book %>
 <%= link_to "Back", books_path(@book) %>
</p>
